<header>
  <div class="container">
    <a href="#" class="logo" routerLink="/home">Insurance Quotes</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home">Quotes</a></li>
        <li><a href="#" routerLink="/settings">Settings</a></li>
      </ul>
    </nav>
  </div>
</header>

<body>
  <div class="healthQuote" (click)="setHealth()">Health Quote</div>
  <div class="autoQuote" (click)="setAuto()">Auto Quote</div>
  <div class="healthAndAutoQuote" (click)="setHealthAndAuto()">
    Health and Auto Quote
  </div>
  <br>
  <div class="selection">You have selected: {{insuranceType}}</div>

  <form class="healthForm">
    <input
      class="zipcode"
      type="number"
      align="center"
      placeholder="ZipCode"
      [(ngModel)]="zipcode"
      [ngModelOptions]="{standalone: true}"
    />
    <br />
    <input
      class="submit"
      type="button"
      name="button"
      align="center"
      value="Submit"
      (click)="getInsuranceQuote()"
    />
  </form>
</body>
